:8080 {
  encode zstd gzip

  handle /api/* {
    reverse_proxy api:8000
  }

  handle /docs* {
    reverse_proxy api:8000
  }

  handle /health/* {
    reverse_proxy api:8000
  }

  handle /app/* {
    reverse_proxy web:5173
  }

  handle {
    root * /srv/landing
    file_server
  }
}
